body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color:black;
}

#content {
    text-align: center;
}

.Title{
    color: white;
}

.Light img {
    width: 400px;
    margin-bottom: 20px;
}

#button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
}

.Warning{
    color: white;
}